#HRNet

EasyDict==1.7
opencv-python==3.4.11.45
shapely
Cython
scipy
pandas
pyyaml
json_tricks
scikit-image
yacs>=0.1.5
tensorboardX==1.6

#SmoothNet

tensorboard==2.8.0
progress==1.6
thop==0.0.31.post2005241907
chumpy==0.70
trimesh==3.12.7
pyrender==0.1.45
protobuf==3.19.0
